
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg0;
    z-index: -1;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}


nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: rgb(2, 137, 255);
}

.btn-curriculo {
    background-color: aliceblue;
    color: rgb(70, 2, 2);
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.btn-curriculo:hover {
    background-color: rgb(2, 137, 255);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.banner .content .title {
    font-family: 'Hallowed Ground';
    font-size: 6em;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.banner .content .title {
    font-family: 'Hallowed Ground';
    font-size: 8em;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../image/fundo.gif);
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url(../image/fundo02.gif);
    mask-size: cover;
    mask-position: center;
}